name: Maven build

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: read
      packages: write
    name: Maven build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3.5.3

    - name: Set up JDK 21
      uses: actions/setup-java@v3.11.0
      with:
        java-version: 21
        distribution: adopt
        java-package: jdk
        architecture: x64

    - name: Cache Maven packages
      uses: actions/cache@v3
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Import GPG key
      run: |
        echo "${{ secrets.GPG_KEY }}" | base64 --decode | gpg --batch --import

    - name: Trust GPG key
      run: |
        KEYGRIP=$(gpg --list-secret-keys --with-keygrip | grep Keygrip | awk '{print $3}')
        echo "$KEYGRIP:6:" | gpg --import-ownertrust


    - name: Build with Maven
      run: mvn package --file pom.xml

    - name: Publish dough
      if: github.event_name != 'pull_request'
      run: mvn -s .mvn/settings.xml -B deploy --file pom.xml -Denv.MAVEN_ACCOUNT=${{ vars.MAVEN_ACCOUNT }} -Denv.MAVEN_PASSWORD=${{ secrets.MAVEN_PASSWORD }} -Denv.GPG_PASSPHRASE=${{ secrets.GPG_PASSPHRASE }} --errors
      env:
        GITHUB_TOKEN: ${{ github.token }}