name: Publish to Maven Central

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    permissions:
      contents: read
      packages: write
    name: Maven build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3.5.3

      - name: Set up JDK 21
        uses: actions/setup-java@v3.11.0
        with:
          java-version: 21
          distribution: adopt
          java-package: jdk
          architecture: x64

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Import GPG key
        run: |
          echo "${{ secrets.GPG_KEY }}" | base64 --decode | gpg --batch --import

      - name: Trust GPG key
        run: |
          KEYGRIP=$(gpg --list-secret-keys --with-keygrip | awk '/Keygrip/ { print $3; exit }')
          echo "$KEYGRIP:6:" | gpg --import-ownertrust

      - name: Build with Maven
        run: mvn package --file pom.xml

      - name: Publish to Maven Central
        if: github.event_name != 'pull_request'
        run: mvn -s .mvn/settings.xml -B deploy -P release --file pom.xml --errors
        env:
          MAVEN_ACCOUNT: ${{ vars.MAVEN_ACCOUNT }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
          GITHUB_TOKEN: ${{ github.token }}